* {
  margin: 0px;
  padding:0px;
}
body {
  background-color: #eee;
  position: absolute;
}
.wrapper {
  width: 500px;
  height:80%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 100px 500px;
  padding: 20px;
}
.box-content {
   width: 250px;
   height: 45%;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  margin: 2px auto;
  padding: 40px 50px;
}
.header {
  border: 0px solid #000;
  margin-bottom: 6px;
}
.header img {
  width: 175px;
  height: 60px;
  margin: auto;
  position: relative;
  left: 40px;
}

.overlap-text {
  position: relative;
}
.input-1 {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}
.input-2 {
   width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}
.btn1 {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.span0r {
  display: block;
  position: absolute;
  left:50%;
  top: 55%;
  margin-left: -1.5em;
  background-color: #ffffff;
  width: 3em;
  text-align: center;
}
.fpwd {
  font-size: 15px;
  text-decoration: none;
  line-height: 10px;
  padding: 15px 65px;
  margin: 5px;
}
.btn2 {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin: 25px 5px;
}
.box2-content {
   width: 250px;
   height: 20px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin: 3px auto;
  padding: 15px 50px;
}
.box2 {
  text-align: center;
  font-family: 'Overpass Mono',monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}
.btn1:hover {
  background-color: #0000ff;
}
.btn2:hover {
  background-color: #0000ff;
}

























